
* {
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* body, */
html {
    margin: 0;
}
body {
    position: static ; /* CSS property default */
    border: 0;
}

main {
    background-color: lightgray;
    margin: auto;
    padding: 15px;
}

h1,
h2,
h3 {
    margin: auto;
    /* padding: 15px; */
}
h1 {
    font-size: 30px;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 20px 0;
}
h2,
h3 {
    font-size: 20px;
}
h3 {
    padding-top: 15px; /* match to 'main' element selector */
}

p {
   font-style: italic;
}

.orange {
   color: orange;
}

#green-background {
   background-color: green;
}
