html {
    width: 100vw;
    height: 100vh;
    background-color: black;
    /* background-image: url('../images/background-gradient-black-white.JPG');
    background-size: 100% 100%;
    background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; */
}

/* center on every viewport with flexbox */
.compass {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#left-right-arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.arrows {
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: stretch;
    animation: fadeInAnimation ease 30s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

#up-arrow {
    margin: auto;
}

#left-arrow {
    transform: rotate(-90deg);
    margin: auto;

}
#right-arrow {
    transform: rotate(90deg);
    margin: auto;

}
#down-arrow {
    transform: rotate(180deg);
    margin: auto;

}

.welcome-text {
    color: white;
    font-size: 50px;
    font-family: 'Comfortaa';
    background: linear-gradient(90deg, #000, #fff, #000);
        -webkit-background-clip: text;
    background-clip: text;
        -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
}

    @keyframes shine {
        0% {
            background-position-x: -500%;
        }
        100% {
            background-position-x: 500%;
        }
    }
/* #hello {
    animation: fadeOutAnimation ease-out 1s;
    animation-delay: 10s;
}
    @keyframes fadeOutAnimation {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    } */
