html {
    width: 100vw;
    height: 100vh;
    background-color: black;
    /* background-image: url('../images/background-gradient-black-white.JPG');
    background-size: 100% 100%;
    background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; */
}

/* center on every viewport with flexbox */
.compass {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#left-right-arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.arrows {
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: stretch;
}

#up-arrow {
    margin: auto;
}

#left-arrow {
    transform: rotate(-90deg);
    margin: auto;

}
#right-arrow {
    transform: rotate(90deg);
    margin: auto;

}
#down-arrow {
    transform: rotate(180deg);
    margin: auto;

}
